.designer__button{
  min-width: 255px;
  height: 42px;
  background: #DD3E42;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: white;
  cursor: pointer;
  border: 0;
}

@media screen and (max-width: 1140px) {
  .designer__button {
  min-width: 180px;
  }
}
@media screen and (max-width: 900px) {
  .designer__button {
  min-width: 140px;
  font-size: 14px;
  line-height: 12px
  }
}
